
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #99afcd;
  font-family: 'Montserrat', sans-serif;
}

.App {
  width: 80vw;
  margin: 0 auto;
  background-color: white;
  padding: 20px 30px;
}

/* Navbar
*************************** */

.nav-header {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 15px;
  border-bottom: 1px solid #7b828b;
}

nav a {
  font-weight: 300;
  text-decoration: none;
  color: #99afcd;
  margin: 10px;
}

.fa-user {
  color: #0290ff;
  margin-left: 35vw;
  border: 1px solid #c7dbe3;
  border-radius: 50%;
  padding: 11px;
}

h1 {
  color: #0290ff;
  margin-right: 30px;
  font-weight: 700;
}

/* Book styles
*********************************/

.books-list {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
}

.books-list li {
  display: block;
  margin: 30px 0;
}

.container-book {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
  padding: 20px 30px;
}

.book-header {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.book-title {
  color: #191724;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.book-category {
  margin-bottom: 6px;
  color: #1212127a;
}

.book-author {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.book-remove-edit{
  width: 0.125px;
  height: 4rem;
  border: 1px solid #c7dbe3;
}

.container-book h4,
.container-book h5,
.container-book h3 {
  margin: 2px;
}

.bookActions{
  margin-top: 25px;
  display: flex;
  gap: 8px;
}

.bookActions button {
  background-color: white;
  font-family: 'Roboto Slab', serif;
  color: #99afcd;
  border: none;
  height: 20px;
}

.bookActions .book-remove-edit {
  height: 1.2rem;
}

.bookProgress {
  display: flex;
  align-items: center;
  gap: 5vw;
  width: 60%;
}

.bookProgress .book-remove-edit {
  width: 0.1px;
}

.book-stats {
  width: 48%;
  display: flex;
  gap: 12px;
  align-items: center;
}

.book-circle {
  width: 75px;
  height: 75px;
  border: 4px solid black;
  border-radius: 50%;
}

.book-percent {
  color: #191724;
  font-size: 2rem;
}

.book-status {
  display: block;
}

.book-chapter {
  width: 48%;
}

.book-chapter button {
  background-color: #0290ff;
  color: white;
  font-family: 'Roboto Slab', serif;
  border: none;
  padding: 5px 2px;
  width: 140px;
}

.current-chapter {
  font-size: 0.8rem;
  font-family: 'Roboto Slab', serif;
}

.current-chapter-2 {
  font-size: 0.9rem;
  font-family: 'Roboto Slab', serif;
  color: #191724;
}